<!DOCTYPE html>
<html>
    <head>
        <title>Accueil.html</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>
        <h1>Vous &ecirctes &agrave l'accueil de Node.js et de Express !!!</h1>
        <img src="/images/logo.png" alt=""><br>
        <a href='/select'>Catalogue</a><br>
        <a href='/insert'>Insertion</a><br>
        <a href='/delete'>Suppression</a><br>
        <a href='/ejs1'>Test ejs</a><br>    

        <script src="../js/Alerte.js"></script>
    
    </body>
</html>
