<!DOCTYPE html>
<html>
    <head>
        <title>Catalogue.html</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>        
        <h1>Catalogue</h1>
        <ul>
            <li><a href="/selectone?id=1">Coca</a></li>
            <li><a href="/selectone?id=2">Badoit</a></li>
            <li><a href="#">Vichy</a></li>
        </ul>
        <div id="heure">Chargement de l'heure...</div>
        <div><a href="/accueil">Retour à l'accueil</a></div>
    </body>
    <script src="/js/Time.js"></script>
</html>
