<!DOCTYPE html>
<!-- Ejs1.ejs -->
<html>
    <head>
        <title>Ejs1.ejs</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>

    <body>
        <div>
            <h1><%= titre %></h1>
            <p><%= texte %></p>
        </div>

        <div>
            <!-- objet.attributDeLObjet -->
            <p><%= objetPersonne.prenom %> <%= objetPersonne["nom"] %></p>
        </div>


    </body>
</html>
