<!DOCTYPE html>
<html>
    <head>
        <title>ProduitInsert.html</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>
        <h1>Ajout</h1>
        <form method="post" action="">
            <label>D&eacute;signation</label>
            <input type="text" name="designation" />
            <label>Prix</label>
            <input type="text" name="prix" />
            <input type="submit" value="Valider" />
        </form>
        <div><a href="/accueil">Retour à l'accueil</a></div>
    </body>
</html>
