<!DOCTYPE html>
<html>
    <head>
        <title>ProduitDelete.html</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>
        <h1>Suppression</h1>
        <form method="post" action="">
            <label>D&eacute;signation</label>
            <select name="Catalogue" id="product-select">
                <option value="">--Choisissez un produit--</option>
                <option value="coca">Coca</option>
                <option value="badoit">Badoit</option>
                <option value="vichy">Vichy</option>
            </select>
            <input type="submit" value="Valider" />
        </form>
        <div><a href="/accueil">Retour à l'accueil</a></div>
    </body>
</html>